@import "tailwindcss";
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 body{
    font-family: 'Space Grotesk', sans-serif;

}
.button {
    display: block;
    width: 100%;
    /* margin: 10px auto; */
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg,  #3333ff, #00f0ff);
    background-size: 300%;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out, transform 0.2s ease-in-out;
}
.button:hover {
    background-position: 100% 50%;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}
.login {
    display: block;
    width: 100%;
    /* margin: 10px auto; */
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background:  #ff00cc;
    background-size: 300%;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out, transform 0.2s ease-in-out;
}
.gradient-text {
  /* 1. Apply the original gradient as the background */
  background: linear-gradient(90deg, #ff00cc, #3333ff, #00f0ff);
  
  /* 2. Clip the background only to the shape of the text */
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  
  /* 3. Make the actual text color transparent so the background shows through */
  color: transparent;
  
  /* Optional: Ensure the font is bold/large enough for the effect to be visible */
  font-weight: 900;
}

.revoke {
    display: block;
    width: 50%;
    /* margin: 10px auto; */
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00f0ff);
    background-size: 300%;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out, transform 0.2s ease-in-out;
}

.me{
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00f0ff);
    cursor: pointer;
    transition: background-position 0.5s ease-in-out, transform 0.2s ease-in-out;

}